
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700;800&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

i {
    cursor: pointer;
}

header {
    width: 100%;
    height: auto;
    margin: auto;
    background-color: #fff;
    padding: 0 40px;
}

/* casio nav */

.top {
    width: 100vw;
    height: 70px;
    background-color: midnightblue;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 600;
    padding-left: 57px;
    padding-right: 57px;
    padding-top: 7px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cart {
    position: relative;
    font-size: 1.5rem;
    text-decoration: none;
    color: #fff;
}

.cartAmount {
    position: absolute;
    top: -6px;
    right: -10px;
    font-size: 12px;
    background-color: red;
    color: #fff;
    padding: 1px 5px;
    border-radius: 50%;
}


/* navbar */

header nav {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
}

header nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
}

header nav ul li {
    padding-left: 50px;
    font-size: 0.9rem;
}

header nav ul li a{
    text-decoration: none;
    font-weight: 400;
    color: rgb(0, 0, 0);
}

header nav ul li a i {
    font-size: 1.5rem;
}
header nav ul button {
    width: 60px;
    height: 25px;
    background-color: red;
    color: #fff;
    border: none;
    border-radius: 10px;
    margin-left: 50px;
    cursor: pointer;
}


/* banner */

.banner img {
    height: auto;
    width: 100vw;
}


/* hero section */


.hero {
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(4, 250px);
    padding: 30px;
    justify-content: center;
    gap: 20px;
    color: #fff;
    background: rgb(128, 128, 128, 0.5);
}

.hero .one{
    max-width: 250px;
    background-color: black;
    overflow: hidden;
}

.hero img {
    width: 250px;
    height: auto;
    transition: all .3s
}

.hero img:hover {
    transform: scale(1.05);
}

.hero h4 {
    text-align: center;
}

.hero p {
    font-size: 10px;
    text-align: center;
    padding: 3px 5px;
    font-weight: 200;
}

/* filter */

.filters {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 50px;
    width: auto;
    background-color: rgb(113, 164, 219);
}


.filters > input, select {
    margin-right: 100px;
    padding: 5px;
    height: 30px;
    width: 120px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border: none;
    outline: none;
}
/* product */

.product {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(4, 250px);
    gap: 20px;
    justify-content: center;
}

.item {
    /* background-color: rgb(211, 211, 211, 0.3); */
    background-color: #F0EBE3;
    padding: 7px;
 
 }
 .item:hover {
     border: 1px solid lightslategrey;
 }

.but {
    display: flex;
    justify-content: center;
}

.btn {
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: midnightblue;
    color: #fff;
    padding: 3px 15px;
    border-radius: 10px;
    outline: none;
    border: none;
}

.btn:hover {
    background-color: green;
    outline: none;
    border: none;
}

/* footer */

.footer {
    width: 100%;
    height: auto;
    background-color: rgb(211, 211, 211, 0.5);
    margin-top: 30px;
}
.first ul {
    list-style: none;
    font-size: .7rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 200px;
}


.social {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}

.social a{
    color: black;
    padding-left: 50px;
    font-size: 1.2rem;
      
}

.bottom ul {
    list-style: none;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    
}

.bottom ul li a {
    text-decoration: none;
    color: black;
    font-size: .7rem;
    justify-content: space-between;
    padding-left: 40px;
}
.middle p {
    font-size: .7rem;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 10px;
}


.cardDetail {
    padding: 100px;
    display: flex;
    gap: 24px;
    background-color: rgb(211, 211, 211, 0.3);
}

.cardDetail img {
   
    height: auto;
}

.cardDetail p {
    font-size: 0.8rem;
    width: 500px;
    text-align: justify;
}


